.alinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    height: 1080px;
}

.logo {
    display: flex;
    justify-content: center; 
    margin-left: 50px;
     
}

ul {
    display: flex;
    flex-direction: column; 
}

.buttonMenuLateral{
    width: 252px;
    height: 64px;
    border-radius: 20px; 
    align-items: center;
    justify-content: center;
    font-size: 18px; 
    font-family: Poppins;
    color: white;  
    background:#4CBC9A;
    margin: 8px;   
}





